@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: "Karla",sans-serif;
}

/* Utility  */
button{
  background-color: #4D5B9E;
  color: #F5F7FB;
  border-radius: 10px;
  padding: .5em 2em;
  cursor: pointer;
  border: none;
  font-family: "Inter",sans-serif;
}
button:disabled{
  cursor: not-allowed;
  opacity: .75;
}

.section{
  background-color: #F5F7FB;
  min-height: 100vh;
  color: #293264;
  background: url('./assets/images/background1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* start section */
.section-start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-start h1{
  font-size: 2.5rem;
  margin-bottom: .5em;
}
.section-start p{
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.section-start button{
  font-size: 1.5rem;
  margin-bottom: 1em;
}


/* Questions Section */
.section-questions,
.section-answers{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.section-questions .question p,
.section-answers .question p{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: .9em;;
  
}
.section-questions .question button,
.section-answers .question button{
  font-size: .8rem;
  font-weight:500;
  margin-bottom: 1em;
  margin-right: .8em;
  background-color: #F5F7FB;
  color: #293264;
  border: 1px solid #4D5B9E;
}
.section-questions .question button.blue,
.section-answers .question button.blue{
  background-color: #D6DBF5
}
.section-answers .question button.green{
  background-color: #94D7A2;
}
.section-answers .question button.red{
  background-color: #F8BCBC;
}

.section-questions .btn,
.section-answers .btn{
    font-size: .8rem;
    font-weight:500;
    padding: 1em 2em;
}


/* Answer Section */
.score-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  
}

.score-container p {
  font-weight: bold;
  font-size: 1.5rem;
}
.score-container button{
  padding: 1.3em 2.5em ;
  font-size: .9rem;
  font-weight:600;
}